.formbackground{
background:#fff;
  
}


.uploadfile hover{
    background:none !important;
    color: #000 !important;
}
.downloadfile hover, .btn-outline-primary hover{
    background:none !important;
    color: #000 !important;
}